:root {
  --text-color: #ffffff;
  --background-color: #181818;
}

[data-theme='light'] {
  --text-color: #000000;
  --background-color: #ffffff;
}

.nav__menu {
  display: block;
  visibility: visible;
  position: absolute;
  color: var(--text-color);
}

.menu__list {
  padding: 18px 0 10px 0;
}

.menu__item {
  padding: 5px 0;
  margin-bottom: 16px;
}

.menu__link {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}
